<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Hotel</title>
</head>
<body>
    <header>
        <h1>Hotel Coding</h1>
        <h2>Welcome to the greatest hotel in existence!</h2>
        <nav>
            <ul>
                <li>
                    <a href="#places">Places</a>
                </li>
                <li>
                    <a href="reservations">reservations</a>
                </li>
                <li>
                    <a href="accommodations">accommodations</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p></p>
    </footer>
    <div id="content-placeholder"></div>
</body>
</html>