<section class="row">
  <div class = "column">
      <button class="btn"><a href="/reservations"> Create new reservation </a></button>
  </div>
</section>

{{#if reservations.length}}
<section>
  <h2>Your Reservations</h2>
  <ol>
    {{#each reservations}}
    <li>
      {{format_date start_date}}
      {{!-- <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Reservation</a> --}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
