<section class="row">
  <div class = "column">
      <button class="btn"><a href="/reservations"> Create new reservation </a></button>
  </div>
</section>

{{#if reservation.length}}
<section>
  <h2>Your Reservations</h2>
  <ol>
    {{#each reservation as |reservation|}}
    {{!-- <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Reservation</a>
    </li> --}}
    {{/each}}
  </ol>
</section>
{{/if}}