* {
  margin:0;
  padding:0;
  font-family: 'Oswald', sans-serif;
}

.nav-bright:hover {
  color:aqua;
}
label {
  display:block;
}

.logo-bg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.logo {
  width: 400px;
  height: auto;
  position: absolute;
  left: calc(50% - 200px);
  top: 10px;
}

nav {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: rgb(29, 51, 80);
}

.text-lightgray {
  color:#d0d0d0;
}

.no-border {
  border: none;
}

header h1 {
  font-size: 50px;
  font-style: oblique;
  background-color: gold;
}

.sub-header {
  color:#faeaba;
  text-align:left;
  text-indent:0;
}

.sub-text {
  color:#797777;
  text-align:left;
  text-indent:10px;
}

main {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

footer {
  background: rgb(29, 51, 80);
  width:100%;
  height: 50px;
  font-size: 30px;
  text-align: center;
  position:fixed;
  bottom: 0;
}

.hotel-bg {
  width: 100%;
  background-image: url("https://www.gannett-cdn.com/-mm-/f85d715f4ef18e245988237e803cdef2db1daf68/c=0-255-4256-2656/local/-/media/USATODAY/test/2013/10/25/1382729502000-160857233.jpg");
  object-fit: cover;
}

.v-margin {
  margin: 30px auto 80px auto;
}

button a, button a:hover, button a:visited, button a:focus {
  color: inherit;
  text-decoration: none;
}

