body {
    background-color: blue;
}

header {
    text-align: center;
    background-color: cornsilk;
    padding: 20px;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    font-style: oblique;
}